// DIV koden
<div id="TitleContent" style="text-align: center">
 <a runat="server" href="~/">
 <asp:Image ID="Image1" runat="server"
ImageUrl="~/Images/logo.jpg" BorderStyle="None" />
 </a> 
 <br />
 </div>







<li><a runat="server" href="~/ProductList">Products</a></li>
